@import "../../../styles/_global.scss";

div#CreateRoutinePage{
    position: relative;
    top: 80px;
    width: 440px;
    height: 400px;
    border: 1px solid $primary-color;
    text-align: center;
    background-color: $primary-font-color;
    margin: auto;
    padding: 20px 60px 20px 60px;
    box-sizing: border-box;
    color: black;
    box-shadow: 0px 5px 15px black;
    
    h1#new-routine {
        font-size: 25px;
        color: black;
        margin-bottom: 20px;
    }
    p#slogan {
        color: rgb(153, 153, 153);
        font-size: 14px;
    }


    form {
        position: relative;
        top: 60px;
        input {
            margin: 10px;
            width: 240px;
            height: 30px;
            border-radius: 15px;
            border: 1px solid $primary-color;
        }

        label {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            position: relative;
            bottom: 20px;
        }

        input[type=text] {
            position: relative;
            color: black;
            padding-left: 15px;
            box-sizing: content-box;

        }
        input[type=text]::placeholder {
            color: black;
        }

        input[type=submit]{
            position: relative;
            top: 40px;
            color: black;
            width: 100px;
            float: right;
        }

        input[type=submit]:hover{
            background-color: black;
            color: white;
        }
    }
}