@import "../../../styles/_global.scss";

div#CreateRoutinePage {
    div.form-container {
        h1#new-routine {
            font-size: 25px;
            color: black;
            margin-bottom: 20px;
        }
        p#slogan {
            color: rgb(113, 113, 113);
            font-size: 14px;
        }

        span.step {
            position: absolute;
            bottom: 20px;
            right: 40px;
            font-size: 14px;
            color: rgb(113, 113, 113);
        }

        form {
            input {
                border-radius: 15px;
            }

            input[type="submit"] {
                position: absolute;
                bottom: 60px;
                right: 40px;
                color: black;
                width: 100px;
                height: 30px;
            }

            input[type="submit"]:hover {
                background-color: black;
                color: white;
            }
        }

        
    }

    div.right-page-container#name-form-container {
        form {
            position: relative;
            top: 60px;
            label {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                position: relative;
                bottom: 20px;
            }

            input[type="text"] {
                position: relative;
                color: black;
                padding-left: 15px;
                box-sizing: content-box;
                margin: 10px;
                width: 240px;
                height: 30px;

                border: 1px solid $primary-color;
                                
            }
            input[type="text"]::placeholder {
                color: rgb(113, 113, 113);
            }

            input[type="submit"] {
                width: 100px;
            }

        }
    }

    div.right-page-container#time-form-container {
        form {
            height: 300px;
            ol {
                margin-bottom: 50px;
                list-style: none;
                li {
                    display: inline-block;
                    margin: 3px;
                    white-space: nowrap;
                }
            }
            div.time-checkbox-container {
                margin: 5px 0;
                width: 100%;
                height: 40px;
                
                label{
                    position: absolute;
                    left: 50%;
                    transform: translateX(calc(-50% - 60px));
                    width: 100px;
                }

                input[type="time"]{
                    padding: 2px 8px;
                    box-sizing: border-box;
                    position: relative;
                    left: 70px;
                    bottom: 9px;
                    margin: 5px;
                    height: 25px;
                    width: 140px;
                }
            }
        }
    }

    div.left-page-container#image-container {
        background-color: transparent;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }
}
