@import "../../styles/_global";

header#info{
    width: 100%;
    min-height: 200px;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    div.info-box {
        width: 350px;
        height: 150px;
        padding: 30px 20px 0 20px;
        box-sizing: border-box;
        box-shadow: 0px 5px 15px black;
        margin: 10px 20px 10px 20px;

        ol#todo-list{
            width: 220px;
            height: 27px;
            position: relative;
            bottom: 23px;
            left: 65px;
            border: 1.5px solid white;
            padding: 5px 3px 3px 30px;
            box-sizing: border-box;
            border-radius: 13px;
            li {
                font-size: 13px;
                list-style-type: number;
            }
        }

        ol#todo-list:hover {
            background-color: white;
            opacity: 0.6;

            li {
                color: rgb(27, 27, 27);
            }
        }

        img.icon {
            position: relative;
            top: 10px;
            width: 50px;
            filter: invert(100%);
        }
        span.title {
            position: relative;
            left: 15px;
            bottom: 17px;
            font-size: 25px;
        }

    }

    div.info-box#todo{
        background-color: $supplementary-color-3;
    }
    div.info-box#routine{
        background-color: $supplementary-color-2;
    }
    div.info-box#upcomingEvent{
        background-color: $supplementary-color-1;
    }
}

