@import "../../styles/_global";

header#info{
    width: 100%;
    min-height: 200px;
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    div.info-box {
        width: 350px;
        height: 150px;
        padding: 30px 20px 0 20px;
        box-sizing: border-box;
        box-shadow: 0px 5px 15px black;
        margin: 10px 20px 10px 20px;
        position: relative;

        button.add {
            position: absolute;
            right: 30px;
            bottom: 41px;
            margin: 0;
            padding: 3px;
            width: 25px;
            height: 25px;
            border: 1.5px solid white;
            border-radius: 50%;
            background: none;

            img.plus {
                width: 100%;
                filter: invert(1);
            }
        }

        button.add:hover {
            background-color: rgb(255, 255, 255);
            opacity: 0.6;
            cursor: pointer;
            img.plus {
                filter: invert(0.2);
            }
        }

        div.upcoming{
            width: 200px;
            height: 27px;
            position: absolute;
            bottom: 40px;
            left: 85px;
            border: 1.5px solid white;
            padding: 5px 20px;
            box-sizing: border-box;
            border-radius: 13px;
            font-size: 13px;


        }

        div.upcoming:hover {
            background-color: rgb(255, 255, 255);
            opacity: 0.6;
            color: black;
        }

        img.icon {
            position: relative;
            top: 10px;
            width: 50px;
            filter: invert(100%);
        }
        span.title {
            position: relative;
            left: 15px;
            bottom: 17px;
            font-size: 25px;
        }

    }

    div.info-box#todo{
        background-color: $supplementary-color-3;
    }
    div.info-box#routine{
        background-color: $supplementary-color-2;
    }
    div.info-box#upcomingEvent{
        background-color: $supplementary-color-1;
    }
}

