container {
    position:absolute;
    border-radius: 5%;
    left:35%;
    top: 170px;
    width:30%;
    height:55%;
    background-color: white;

}

.registerstack {
color:black;
height: 100%;
margin-top: 0%;

}

.RegisterTitle {
    color: black;
    text-align: center;
}



.NameContainer {
    width: 90%;
    height: 40px;
    left: 5%;
    top: 120px;
}

.firstname {
    position: absolute;
    left:20px;
    top: 1px;
    height:30px;

}


.lastname {
    border-radius: 100%;
    position:absolute;
    left: 200px;
    height: 30px;
    top: 1px

}

.name {
    width: 89%;
    height: 20px;
    font-size: small;
    border-radius: 200px;
    text-align: center;
    border: solid gray;

}

.Info {
    width: 90%;
    left:5%;
}

.infoinput {
    position: absolute;
    left: 20px;
    height: 30px;
    border-radius: 200px;
    text-align: center;
    border: solid gray;
    width: 80%;
}


.emailinput {
    position: absolute;
    font-size: small;
    top: 5px;
    padding-left: 20px;
    left: 20px;
    height: 30px;
    border-radius: 200px;
    text-align: left;
    border: solid gray;
    width: 80%;
}

.passwordinput {
    top: 60px;
    position: absolute;
    font-size: small;
    padding-left: 20px;
    left: 20px;
    height: 30px;
    border-radius: 200px;
    text-align: left;
    border: solid gray;
    text-align: left;
    width: 80%;
}

.confirmpasswordinput {
    top: 120px;
    position: absolute;
    font-size: small;
    padding-left: 20px;
    text-align: left;
    left: 20px;
    height: 30px;
    border-radius: 200px;
    text-align: left;
    border: solid gray;
    width: 80%;
}

.registerbutton {
    width: 20%;
    height: 10%;
    position: absolute;
    color: black;
    background-color: silver;
    border-color:  gray;
    border: none;
    border-radius: 10px;
    text-align: center;
    left: 40%;
    top: 80%;
}


.h:hover {
    font-weight: bold;
}
